<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    hello thymeleaf !
    <br />
    <p th:text="${hello}">打低</p>
    <p th:each="str:${list}" >
        <input th:text="${str}" th:value="${str}"/>
    </p>
    <p th:if="1==1">我是存在的</p>
    <input type="checkbox" th:checked="(${check}=='0')?true:false" />
    <a th:href="'javascript:a(\''+${hello}+'\')'">a</a>
    <div th:include="indexInner::i">被引入</div>
<script>
    function a(hello) {
        alert("ok"+hello);
    }
</script>
</body>
</html>